[package.metadata.wix]
upgrade-guid = "F5B2C1A2-5BC0-4C5D-93E4-0D6F9A6C9E11"
path-to-wxs = "wix/main.wxs"
description = "UltraSearch Desktop Search"
license = "MIT"
manufacturer = "Ultrasearch Team"
binary-name = "launcher"